**Create a tuple from the list of numbers**

In [1]:
# Python3 program to convert a
# list into a tuple
def convert(list):
	return tuple(list)
list = [1, 2, 3, 4]
print(convert(list))

(1, 2, 3, 4)

**Print the Maximum and Minimum Value in the tuple**

In [2]:
# Example tuple of numbers
numbers = (10, 2, 45, 8, 19, 3, 15)

# Find the maximum and minimum values
max_value = max(numbers)
min_value = min(numbers)

# Print the maximum and minimum values
print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 45
Minimum value: 2

**Insert value 21 at 5th index (Does it work?)**

In [3]:
#yes ,it's work
list1=[1,22,55,4,97,96,52,26]
list1.insert(4,21)
print(list1)

[1, 22, 55, 4, 21, 97, 96, 52, 26]

**Print the Sum of all the numbers in the tuple**

In [4]:
list1=(1,55,61,21,26,29,96)
sum_of_num=sum(list1)
print(sum_of_num)

289

**Remove the 6th element from the tuple (Does it work?)**

In Python, tuples are immutable, which means their elements cannot be modified after they are created. Therefore, you cannot directly remove an element from a tuple. If you need to remove an element from a tuple, you would need to create a new tuple without the element you want to remove.

**Add the following values to the end of tuple(22,31,45,67,89) (Does it work?)**

dosen't  work

***Delete the last element and print the square of it (Does it work?)***

In [1]:
# Original tuple
original_tuple = (22, 31, 45, 67, 89)
print("Original tuple:", original_tuple)

# Delete the last element of the tuple
last_element = original_tuple[-1]
new_tuple = original_tuple[:-1]
print("Deleted element:", last_element)
print("New tuple after deleting last element:", new_tuple)

# Calculate square of the deleted element
square_of_deleted_element = last_element ** 2
print("Square of deleted element:", square_of_deleted_element)

Original tuple: (22, 31, 45, 67, 89)
Deleted element: 89
New tuple after deleting last element: (22, 31, 45, 67)
Square of deleted element: 7921

**print the last 4th vlaue**

In [2]:

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
fourth_last_value = numbers[-4]

print("The 4th last value is:", fourth_last_value)

The 4th last value is: 7

**Print the values in between 3rd and 6th position**

In [3]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers_in_between=numbers[2:6]
print(numbers_in_between)

[3, 4, 5, 6]