**MAXIMUM**

In [2]:
list1=[1,2,9,88,97,49,63]
print(max(list1))

97

**MINIMUM**

In [3]:
list1=[1,2,9,88,97,49,63]
print(min(list1))

1

**Insert value 21 at 5th index**

In [4]:
list1=[1,2,9,88,97,49,63]
list1.insert(5, 21)
print(list1)

[1, 2, 9, 88, 97, 21, 49, 63]

**No. of occurance of element at index 5**

In [2]:
from collections import Counter
 
# declaring the list
l = [1, 1, 2, 2, 3, 3, 4, 4, 5, 5,5,5,5,5]
 
# driver program
x = 5
d = Counter(l)
print('{} has occurred {} times'.format(x, d[x]))

5 has occurred 6 times

**Sum of all the numbers in the list**

In [4]:
list1=[1,2,22,65,98,44,25,64,6]
total=sum(list1)
print(total)

327

**Remove the 6th element from the list**

In [17]:
list1 = [5, 6, 3, 7, 8, 1, 2, 10]
 
list1.pop(6)
print(list1)

[5, 6, 3, 7, 8, 1, 10]

**Add the following values to the end of list [22,31,45,67,89]**

In [20]:
#Add the following values to the end of list [22,31,45,67,89]
list1=[5, 6, 3, 7, 8, 1, 2, 10]
list1.append([22,31,45,67,89])
print(list1)

[5, 6, 3, 7, 8, 1, 2, 10, [22, 31, 45, 67, 89]]

In [21]:
thislist = [5, 6, 3, 7, 8, 1, 2, 10]
thistuple = (22, 31, 45, 67, 89)

thislist.extend(thistuple)

print(thislist)

[5, 6, 3, 7, 8, 1, 2, 10, 22, 31, 45, 67, 89]

**pop the last element and print the square of it**

In [2]:
list1 = [5, 6, 3, 7, 8, 1, 2, 10]
sqr_of_num=list1.pop(7)
square=sqr_of_num*sqr_of_num
print(square)

100

**Print the 4th last value**

In [4]:
list1 = [5, 6, 3, 7, 8, 1, 2, 10]
list1[-4]

8

**Print the values in between 3rd and 6th number**

In [7]:
list1 = [5, 6, 3, 7, 8, 1, 2, 10]
print (list1[6  -3])

7