**Q1: You are working in a bank, and you have been given two lists of the employees who worked in 2021. Employees’ names in list 1 are Ramesh, Suresh, Mahesh, Ali, Jacob, and Saritha. List 2 contains the names of Ali, Mukesh, Mahesh, Jacob, Sai, and Sarita. Please write a program that helps to identify people who are common in both lists. Please do not use any in-built function.**

In [1]:
def common_member(a, b):
    a_set = set(a)
    b_set = set(b)
 
    if (a_set & b_set):
        print(a_set & b_set)
    else:
        print("No common elements")
          
  
a = ["Ramesh", "Suresh", "Mahesh", "Ali", "Jacob","Saritha"]
b = ["Ali", "Mukesh", "Mahesh", "Jacob", "Sai", "Sarita"]
common_member(a, b)

{'Ali', 'Mahesh', 'Jacob'}

**Q2: While entering data, someone entered a few names as a common string “Ramesh Suresh Mohit”. Please write a program which separates all the names and converts them into a list. Once converted into a list, please write a program that adds their age.**

In [2]:
c_name = "Ramesh Suresh Mohit"
name = c_name.split(" ")
print(name)
age = [25,22,26]
data = zip(name,age)
for i in zip(name,age):
  print(i)

['Ramesh', 'Suresh', 'Mohit']
('Ramesh', 25)
('Suresh', 22)
('Mohit', 26)

**You are working in a medical store. A patient came to your medical store and asked to buy 2 strips of paracetamol, 3 strips of azithromycin, and 5 strips of Vitamin C. One strip of paracetamol costs Rs 35, one strip of azithromycin costs Rs 49, and one strip of vitamin c costs Rs. 33. Patient gave you Rs 2000. Please tell us what is the total cost of each medicine, the total cost of all medicine, and how much money you refunded to the patient.**

In [3]:

paracetamol = float(35 * 2)
print("Total cost of paracetamol :",paracetamol)
azithromycin = float(49 * 3)
print("Total cost of azithromynic :",azithromycin)
vitamin_C = float(33 * 5)
print("Total cost of vitamin_c :",vitamin_C)
patient_gave = 2000
total = paracetamol + azithromycin + vitamin_C
print(" Total cost of all medicines : " , total , "/-")
refund_amount = patient_gave - total
print("Change for the given amount : " , refund_amount , "/-")

Total cost of paracetamol : 70.0
Total cost of azithromynic : 147.0
Total cost of vitamin_c : 165.0
 Total cost of all medicines :  382.0 /-
Change for the given amount :  1618.0 /-

**Accept a sentence as input and find the number of vowels in it. Assume that the sentence has no punctuation marks. For example, I am learning python contains 6 vowels. This function should be applicable for all other different sentences.**

In [5]:
sentence = input("Enter a sentence: ")
vowels = "aeiouAEIOU"
count = 0
for letter in sentence:
    if letter.lower() in vowels:
        count += 1
print("The number of vowels in the sentence is:", count)

Enter a sentence: THIS IS SOHAIL AHAMED HERE
The number of vowels in the sentence is: 10

**Q5: You have been appointed by the election commission to create a website. Your first task is to work on a program which tells candidates if they are eligible for voting or not. If they are eligible, your output should be ‘Congrats! You are eligible’; otherwise, it should tell that you have to return after X number of years. The eligibility criteria for voting is 18 years.**

In [15]:
age = int(input("Enter you age: "))

if age >= 18:
    print("'CONGRATS!'You are eligible")
else:
    print(18-age,"Years After You are  eligible to vote")

Enter you age: 12
6 Years After You are  eligible to vote

**Q6: Given a list of integers, find the cumulative sum of the elements of the list and store them in another list.**

In [20]:
A = [1, 2, 3, 4, 5]
new_list=[]
count=0
for i in range(0,len(A)):
  
	count+=A[i]
	new_list.append(count)
	
print(new_list)

[1, 3, 6, 10, 15]